.App {
  height: auto;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0%;
  margin: 0%;
  background-color: rgb(8, 8, 8);
}

.cryptoDisplay {
  margin-top: 10px;
  display: grid;
  margin: 50px;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.cryptoHeader {
  width: 100%;
  height: 200px;
  background-color: rgb(51, 51, 128);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.searchField {
  align-items: left;
}

.cryptoHeader input {
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 6px;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-top: 10px;
}

.coin {
  width: 400px;
  height: 280px;
  background-color: rgb(36, 36, 36);
  color: white;
  box-shadow: rgb(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
}

.coin img {
  height: 75px;
}
